body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    background: url(./background.png);
    background-size: cover;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .status {
    margin-bottom: 10px;
  }

  .stack-square {
      background: black;
      width: 25px;
      height: 25px;
      position:relative;
  }
  
  button {
    background-color: Transparent;
    background-repeat:no-repeat;
    color: white
  }
  
  .stack-square-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: .75rem;
  }
  

  