body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    background: url(./background.png);
    background-size: cover;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .status {
    margin-bottom: 10px;
  }

  .item-list {
    position: relative;
  }

  .stack-badge {
      background: black;
      /* background: green; */
      width: 25px;
      height: 25px;
      position:relative;
      /* position:absolute; */
      top: -25px;
      left: -7px;
  }

  button {
    background-color: Transparent;
    background-repeat:no-repeat;
    color: white
  }

  .stack-badge-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: .75rem;
  }
  
  .filter-select-container {
    color: white;
    display: flex;
  }

  .stack-select-container {
    color: white;
    display: flex;
  }

  .last-updated-container {
    color: white;
    text-align: right;
    float: right;
  }
  
  a {
    color: inherit;
    text-decoration: inherit;
  }