/* stylelint-disable property-no-vendor-prefix */
body {
  background: url("./background.png") no-repeat center center fixed !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}

.ui.grid > * {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin: auto;
}

.ui.basic.button:hover[id^="itemButton_"] {
  opacity: 0.2 !important;
}

.ui.label > * {
  font-size: 1rem;
}

.ui.button {
  color: white !important;
  background: transparent !important;
}

.ui.dropdown .menu {
  background: black !important;
}

div.visible.menu.transition > .item {
  color: white !important;
}
